@import './base.css';

#app {
  font-weight: normal;
}

html {
  scroll-behavior: smooth;
}

/* Jouw kleuren in plaats van groen */
a {
  text-decoration: none;
  color: var(--color-primary);
  transition:
    color 0.25s ease,
    background-color 0.25s ease;
  padding: 3px;
}

a:hover {
  color: var(--color-primary-hover);
}

.section-title {
  font-size: clamp(1.4rem, 2.5vw, 2rem);
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: var(--color-text);
}

.image-wrap {
  position: relative;
  width: clamp(340px, 28vw, 520px);
  aspect-ratio: 21 / 9;    
  height: 340px;
  border-radius: 20px;
  transition: all 0.4s ease;
}

.image-shadow {
  position: absolute;
  inset: 0;
  border-radius: 20px;
  background: var(--color-primary);
  transform: translate(20px, 20px);
  transition: all 0.4s ease;
  z-index: 0;
}

.image-wrap img {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  background: var(--color-primary);
  z-index: 1;
  transition: all 0.4s ease;
}

/* Hover effect */
.image-wrap:hover .image-shadow {
  transform: translate(30px, 30px);
  background: transparent;
  border: 3px solid var(--color-primary);
}

.image-wrap:hover img {
  transform: scale(1.02);
}

@media (max-width: 900px) {
  .image-wrap {
    width: 100%;
    max-width: 480px;
    height: 280px;
  }
}

@media (max-width: 768px) {
  .image-shadow {
      display: none;
  }

  .image-wrap img {
    background-color: none;
    background: none;
  }
}